<div class="container">
<div class="row">
                <div class="col-md-12 order-md-1">
                
                <div class="jumbotron-margin float-md-center ">
               
				<div class="container">
        			  <div class="row margin-20">
        			  
        			<div class="col-4 cart-color1" >
                    <div class="card">
    				<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
					<div class="card-body">
        
        			<h4 class="card-title">Card1</h4>
        
        			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        			<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    				</div>
					</div>
					</div>
					
					<div class="col-4 cart-color2" >
                    <div class="card">
    				<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
					<div class="card-body">
        
        			<h4 class="card-title">Card2</h4>
        
        			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        			<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    				</div>
					</div>
					</div>
					
					<div class="col-4 cart-color1" >
                    <div class="card">
    				<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
					<div class="card-body">
        
        			<h4 class="card-title">Card3</h4>
        
        			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        			<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    				</div>
					</div>
					</div>
                      </div>
        			
        			 <div class="row margin-bottom-20">
        			  
        			<div class="col-4 cart-color2" >
                    <div class="card">
    				<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
					<div class="card-body">
        
        			<h4 class="card-title">Card4</h4>
        
        			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        			<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    				</div>
					</div>
					</div>
					
					<div class="col-4 cart-color1" >
                    <div class="card">
    				<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
					<div class="card-body">
        
        			<h4 class="card-title">Card5</h4>
        
        			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        			<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    				</div>
					</div>
					</div>
					
					<div class="col-4 cart-color2" >
                    <div class="card">
    				<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">
					<div class="card-body">
        
        			<h4 class="card-title">Card6</h4>
        
        			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        			<a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    				</div>
					</div>
					</div>
                      </div>                     
   				 </div>
				</div>
			</div>
</div>
<div class="row">
  <div class="text-center">
                    <a routerLink=""><button class="btn btn-info mb-2 waves-light" mdbWavesEffect>Back</button></a>
                </div>
</div>
 
</div>