<div id="home-page" class="home-page">
	<!-- Navbar -->
	<app-navbar-home></app-navbar-home>
 
      
     <!-- Home/Logo -->
     <div id="home">
		<div class="sky">
    		<div class="dust">

				<h1 class="line-1 anim-typewriter">{{ 'home.welcome' | translate }}</h1>
		
				<nav class="navbar navbar-dark div-bottom">
				<div class="div-center ">
					<a href="#creator">
    					<img src="../../assets/images/down.png" class="animated pulse infinite " alt="Arrow down">
					</a>
				</div>
    			</nav>
    		
    		</div>
    		
    		</div>
    	</div>
    	<!-- End Home/Logo -->
    	<!-- Creator -->
    		
       <div id="creator" class="container-fluid" >
      
            <div class="row">
                <div class="col-md-5 padding-margin-0 ">
     				
                	<div  class="container-header float-md-right ">
                	
                    	<div class="section-num">
                        	<span>01</span>
                   		 </div>
                   		
                    		<h2>{{ 'home.creator' | translate }}</h2>
                    	
                    
                    </div>
                   
                </div>
                <div class="col-md-7 padding-margin-0">
                
                <div class="jumbotron jumbotron-fluid jumbotron-margin float-md-left">
                <h1 class="section-content-title">{{ 'home.hello' | translate }}</h1>
				<div class="container">
        			  <div class="row">
                        <div class="col-md-6">
                        	  		<p class="lead text-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        	
                        	</p>
                        </div>
                        <div class="col-md-6">
                       		<p class="lead text-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        	
                        	</p>
                        </div>
                      </div>
        			
   				 </div>
				</div>
			</div>
		</div>
      
       </div>
			
    <!-- End Creator -->

      <!-- Projects -->
        <div id="projects" class="container-fluid" >
            <div class="row background-img">
              
             	 <div class="col-md-5 padding-margin-0 order-md-2">
                	
                	
                	<div class="container-header float-md-left">
                    	<div class="section-num">
                        	<span>02</span>
                   		 </div>
                    		<h2>{{ 'home.projects' | translate }}</h2>
                    </div>
                   
                </div>
 				<div class="col-md-7 padding-margin-0 order-md-1">
                
                <div class="jumbotron jumbotron-fluid jumbotron-margin float-md-right ">
                <h1 class="section-content-title">Samples</h1>
				<div class="container">
        			  <div class="row">
                        <div class="col-md-6">
                        	  		<p class="lead text-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        	
                        	</p>
                        </div>
                        <div class="col-md-6">
                       		<p class="lead text-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        	
                        	</p>
                        </div>
                      </div>
        			
   				 </div>
   				  <div class="text-center">
                    <a routerLink="/projects"><button class="btn btn-info mb-2 waves-light" mdbWavesEffect>{{ 'home.projects' | translate }}</button></a>
                </div>
				</div>
			</div>
			
			
		</div>
      
       </div>  
       
<!--  End Projects -->

        <!-- Articles -->
        <div id="articles" class="container-fluid" >
            <div class="row background-img">
                <div class="col-md-5 padding-margin-0">
     
                	<div class="container-header float-md-right">
                    	<div class="section-num">
                        	<span>03</span>
                   		 </div>
                   		 
                    		<h2>{{ 'home.articles' | translate }}</h2>
                    	
                    </div>
                     
                </div>
                <div class="col-md-7 padding-margin-0">
                
                <div class="jumbotron jumbotron-fluid jumbotron-margin float-md-left">
                <h1 class="section-content-title">Blog</h1>
				<div class="container">
        			  <div class="row">
                        <div class="col-xs-12 col-md-6">
                        	<p class="lead text-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        	
                        	</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                       		<p class="lead text-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        	
                        	</p>
                        </div>
                      </div>
        			
   				 </div>
				</div>
			</div>
		</div>
       
       </div> 
       
<!--  End Articles -->

  <!-- Skills -->
        <div id="skills" class="container-fluid" >
        
            <div class="row background-img" >
              
             	 <div class="col-md-5 padding-margin-0 order-md-2">
                	<div ngui-sticky sticky-after=".navbar" class="container-header float-md-left">
                    	<div class="section-num">
                        	<span>04</span>
                   		 </div>
                   		
                    		<h2>{{ 'home.skills' | translate }}</h2>
                    	
                    </div>
                </div>
                <div class="col-md-7 padding-margin-0 order-md-1">
                
                <div class="jumbotron jumbotron-fluid jumbotron-margin float-md-right ">
                <h1 class="section-content-title">I know</h1>
				<div class="container">
        			  <div class="row">
                        <div class="col-md-6">
                        	<p class="lead text-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        	
                        	</p>
                        </div>
                        <div class="col-md-6">
                       		<p class="lead text-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        	
                        	</p>
                        </div>
                      </div>
        			
   				 </div>
				</div>
			</div>
			
			
		</div>
        
       </div> 
<!--  End Skills -->

 <!-- Contact -->
        <div id="contact" class="container-fluid" >
   
            <div class="row background-img">
            
                <div class="col-md-5 padding-margin-0">
     
                	<div class="container-header float-md-right dispaly-none-on-mob">
                    	<div class="section-num">
                        	<span>05</span>
                   		 </div>
                   		
                    		<h2>{{ 'home.contact' | translate }}</h2>
                    	
                    </div>
                    
                </div>
                <div class="col-md-7 padding-margin-0">
                
                <div class="jumbotron jumbotron-fluid jumbotron-margin float-md-left">
            
				<div class="container">
				<div class="row">
        		<div class="col-md-5">
        		 <p>{{ 'home.sendMessage' | translate }}</p>
        		 </div>	 
        		  <div class="col-md-7"> 
        <!--Form-->
      
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i>{{ 'home.contactForm' | translate }}</h4>
                
            </div>
            
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input mdbInputDirective type="text" id="form19" class="form-control">
                    <label for="form19">{{ 'home.yourName' | translate }}</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input mdbInputDirective type="text" id="form20" class="form-control">
                    <label for="form20">{{ 'home.yourEmail' | translate }}</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-tag prefix"></i>
                    <input mdbInputDirective type="text" id="form21" class="form-control">
                    <label for="form21">{{ 'home.subject' | translate }}</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-pencil prefix"></i>
                    <textarea mdbInputDirective type="text" id="form8" class="md-textarea mb-0"></textarea>
                    <label for="form8">{{ 'home.message' | translate }}</label>
                </div>

                <div class="text-center mt-1-half">
                    <button class="btn btn-info mb-2 waves-light" mdbWavesEffect>{{ 'home.send' | translate }} <i class="fa fa-send ml-1"></i></button>
                </div>
				</div>	 
				  
            	</div>
        <!--End Form-->
    
        			
   				 </div>
				</div>
			</div>
		</div>
       
       </div>        
<!--  End Contact -->
</div>
